body {
  font-family: "Montserrat", sans-serif;
  width: 100% !important;
  color: white;
  margin: 0;
}
p {
  color: white;
  font-size: 0.7em;
  margin-bottom: 2px;
  font-weight: 600 !important;
}
.altro {
  font-size: 1.2vw !important;
}

h5 {
  font-weight: 600;
}

h6 {
  color: rgb(123, 123, 123);
  font-weight: 600;
  font-size: 1em;
}
.artistText {
  font-size: 0.6em;
  font-weight: 400;
}
.centerPart {
  background: rgb(33, 33, 33);
  background: linear-gradient(
    180deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(18, 18, 18, 1) 100%
  );
}
.logo {
  height: 50px;
}

.fa-books {
  height: 20px;
  width: 20px;
}

.lateralPart {
  background-color: black;
}

.titleLeft {
  font-size: 0.7rem;
  font-weight: 600;
  color: white;
  margin: 0px;
}
.ContainerIcon {
  display: flex;
  align-items: center;
}

.fa-houseé {
  height: 30px;
}

/* css card annuncio */

.mycard {
  width: 100%;
  background: rgb(38, 38, 38);
  background: linear-gradient(225deg, rgb(38, 38, 38) 0%, rgb(14, 14, 14) 100%);
}
/*
    @media screen and (max-width: 500px) {
       #cardprova{
        display:none;
       } } */

.mycard img {
  width: 30%;
}
.mycard div h5 {
  font-weight: bolder;
}

.mycardText {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}
.pBold {
  font-weight: 600;
}

.imgCardPicoola {
  width: 100px;
}
.mycardsmall {
  background-color: #2d2d2d !important;
  border-radius: 8px !important;
}

.background {
  background-size: cover;
}

.mycardpiace {
  background-color: #232323 !important;
  border-radius: 8px !important;
}

.mycardAmico {
  img {
    width: 20px;
    height: 20px;
  }
}

.mycardsmall :hover {
  background-color: rgb(59, 59, 59);
}
.mycardpiacecontainer :hover {
  background-color: #3c3c3c !important;
  border-radius: 8px !important;
}
#playhover {
  font-size: 40px;
  color: $verdeSpotify;
  opacity: 0;
}

#playhover:hover {
  opacity: 1;
}

.h6home {
  color: rgb(123, 123, 123);
  font-weight: 600 !important;
  font-size: 0.8em !important;
}

.textartist {
  font-size: 0.7em !important;
}
#containerMobile {
  margin-bottom: 100px;
}
.fa-ellipsis-vertical {
  color: white;
}

.fa-square-plus {
  background-color: gray;
}

.violabg {
  background-color: rgb(143, 95, 154);
  border-radius: 5px;
  width: 20px;
  height: 20px;
}

.iconaLateral {
  height: 7px;
}
.verdebg {
  background-color: rgb(2, 42, 6);
  border-radius: 5px;
  width: 20px;
  height: 20px;
}
.bgangle {
  background-color: #2d2d2d;
  width: 30px;
  height: 30px;
}
